* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #de8a89;
  color: #fff;
}

.slider {
  &__wrap {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    max-width: 1040px;
    margin-inline: auto;
  }

  &__nav {
    display: flex;
    align-items: center;
    column-gap: 75px;
  }

  &__link {
    font-size: 52px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(#fff, 0.4);
    margin-bottom: 43px;
    transition: color 300ms ease;

    &--active {
      color: #fff;
    }

    @media (hover: hover) {
      &:hover {
        color: #fff;
      }
    }
  }

  &__description {
    max-width: 720px;
  }

  &__button {
    position: absolute;
    top: 0;
    right: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    aspect-ratio: 1;
    padding: 0;
    background-color: rgba(#fff, 0.4);
    border: none;
    transition: background-color 300ms ease;

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        background-color: #fff;
      }
    }

    &--next {
      left: 100%;
    }
  }

  &__cards {
    display: flex;
    position: relative;
  }
}


.card {
  position: relative;
  width: 350px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  padding: 60px;
  background-color: #3e3c3d;

  &:nth-child(2) {
    background-color: #353334;
  }

  &:nth-child(3) {
    background-color: #201e1f;
  }

  &__title {
    font-size: 20px;
    color: #d88788;
  }

  &__subtitle {
    font-size: 32px;
    font-weight: 700;
  }

  &__button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 304px;
    border: none;
    background-color: #131313;
    color: #fff;
    padding: 25px 40px;
    font-size: 18px;
    text-transform: uppercase;
  }
}
